/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-may-2020, 14:23:05
    Author     : MiPc
*/

#corda{
    position:absolute;
    top:0px;
    left:0px;
    background-color: #c79645;
    border-radius: 30%;
    transform-origin: 0% 0%;
}
.segment1{
    position:absolute;
    background-color: red;
    border-radius: 30%;
    transform-origin: 0% 0%;
    width:10px;
    height:100px;
}
.segment2{
    position:absolute;
    background-color: blue;
    border-radius: 30%;
    transform-origin: 0% 0%;
    width:10px;
    height:100px;
}
.segment3{
    position:absolute;
    background-color: green;
    border-radius: 30%;
    transform-origin: 0% 0%;
    width:10px;
    height:100px;
}