#flag{
    position:absolute;
    visibility:hidden;
}
.stick {
    position:absolute;
    height: 50px;
    width: 3px;
    background-color: chocolate;
    display: inline-block;
}
.banner1 {
    position:absolute;
    left: 3px;
    height: 20px;
    width: 30px;
    background-color: red;
    visibility:hidden;
}

.banner2 {
    position:absolute;
    left: 3px;
    height: 20px;
    width: 30px;
    background-image: url("../pictures/banner_bw.png");
    background-size: 100% 100%;
    visibility:hidden;
}