#nest {
    position:absolute;
    width:65px;
    height:41px;
    top:15px;
    left:-25px;
    background-image: url("../pictures/nest.png");
    background-size:65px;
    background-color:none;
    visibility:hidden;
}